<!DOCTYPE html>
<html lang="en">
<head>
  {{!-- Meta --}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- Title --}}
  <title>CyberCode</title>
  {{!-- Links --}}
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  {{!-- Favicon Links --}}
  <link rel="apple-touch-icon" sizes="57x57" href="/public/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/public/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/public/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/public/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/public/asset/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/favicon/favicon-16x16.png">

  {{!-- SEO --}}
  <meta name="Description" content="Author: A.N. Author,
    Illustrator: P. Picture, Category: Books, Price: $17.99,
    Length: 784 pages">

</head>

<body id="home">

  {{!-- Man Nav --}}
  <nav class="navbar navbar-expand navbar-dark" id="mainNavBar">
    <div class="container">
      <a class="navbar-brand animated fadeInLeft" href="/"><img src="/public/assets/company_logo_light.svg" height="27px" alt=""></a>
      <div class="float-right">
        <ul class="navbar-nav mr-auto animated fadeInRight">
          <li class="nav-item mr-4 d-none d-sm-block">
            <a class="nav-link" href="/login"><i class="fas fa-user-alt mr-2"></i>Client Login</a>
          </li>
          <li class="nav-item slide-nave-toggle">
            <div id="slideNavToggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="slide-menu bg-dark animated slideInRight d-none" id="slideMenu">
    <ul class="nav mr-auto d-flex flex-column mt-5">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-home mr-3"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pricing"><i class="far fa-money-bill-alt mr-3"></i>Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get_started"><i class="fas fa-flag-checkered mr-3 pr-1"></i>Get Started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="far fa-envelope mr-3 pr-1"></i>Contact</a>
      </li>
      <li class="nav-item mt-3 d-sm-none">
        <a class="nav-link" href="/login"><i class="fas fa-user-alt mr-3"></i>Client Login</a>
      </li>
    </ul>
  </div>

  <div id="contentWrap">
    {{!-- Show Case Section --}}
    <section id="showCase"> 
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-9 col-xl-7 col-12 py-3">
            <h1 class="text-light display-4 pb-2 animated fadeInDown">Web Design & Development</h1>
            <p class="text-light lead animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus neque iusto magni a vero, nesciunt voluptas optio. Asperiores, libero aspernatur?</p>
            <a href="/contact" class="btn btn-info text-light hvr-float shadow mt-2 animated fadeInUp" role="button" aria-pressed="true">Contact</a>
            <a href="/get_started" class="btn btn-outline-light ml-4 mt-2 animated fadeInUp" role="button" aria-pressed="true">Git Started Now!<i class="ml-3 fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      
      <svg id="waveUp" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2309 168"><defs><style>.cls-1{fill:#f8f9fa;}</style></defs><path id="Path_1328" data-name="Path 1328" class="cls-1" d="M0,14.28S375.31,133.59,1108.9,34.46,2309,82.9,2309,82.9V168H0Z"/></svg>
    </section>

    {{!-- What We Build Section --}}
    <section id="whatWeBuild">
    
      <div class="container content">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-8 text-center">
            <h1 id="what_we_build_h1" class="display-4 opacity">What We <span class="text-info">Build?</span></h1>
            <p id="what_we_build_p" class="lead opacity">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit dolorum deleniti facere incidunt tempora delectus repudiandae repellendus est maxime.<a href="/pricing" class="ml-3 badge badge-pill badge-info text-white font-weight-light">See Pricing <i class="ml-2 fas fa-angle-right"></i></a></p>
          </div>
        </div>
      </div>
      
      {{!-- Custom Websits --}}
      <div class="container mt-0 mt-lg-5">
        <div class="row mt-lg-5">
          <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start">
            <img id="img_custom_website" class="img-fluid opacity" src="/public/assets/illastrations/custom_website_illastration.svg" alt="">
          </div>
          <div class="col-12 col-lg-6 d-flex">
            <div id="content_custom_website" class="align-self-center opacity">
              <h1 class="mt-3 mt-md-0"><span class="text-info">Custom</span> Websites</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum optio doloribus distinctio nostrum earum eum illum in provident nam! Incidunt ex corrupti quos animi? Molestiae soluta doloribus non ipsam nesciunt quis iusto iste, itaque quisquam! Minima aperiam nisi alias?</p>
              <a href="/get_started" class="btn btn-primary text-light hvr-float shadow mt-2" role="button" aria-pressed="true">Get Started</a>
            </div>
          </div>
        </div>
      </div>

      {{!-- Blog Sites --}}
      <div class="container mt-0 mt-lg-5">
        <div class="row">
          <div class="col-12 col-lg-6 d-flex order-2 order-lg-1">
            <div id="content_blog_site" class="align-self-center opacity">
              <h1 class="mt-2 mt-lg-0"><span class="text-info">Blog</span> Sites</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum optio doloribus distinctio nostrum earum eum illum in provident nam! Incidunt ex corrupti quos animi? Molestiae soluta doloribus non ipsam nesciunt quis iusto iste, itaque quisquam! Minima aperiam nisi alias?</p>
              <a href="/get_started" class="btn btn-primary text-light hvr-float shadow mt-2" role="button" aria-pressed="true">Get Started</a>
            </div>
          </div>
          <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center justify-content-lg-end">
            <img id="img_blog_site" class="float-right img-fluid mt-5 mt-lg-0 opacity" src="/public/assets/illastrations/blog_site_illastration.svg" alt="">
          </div>
        </div>
      </div>

      {{!-- E-commerce Sites --}}
      <div class="container mt-0 mt-lg-5">
        <div class="row">
          <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start">
            <img id="img_commerce_site" class="img-fluid mt-5 mt-lg-0 opacity" src="/public/assets/illastrations/ecommerce_site_illastration.svg" alt="">
          </div>
          <div class="col-12 col-lg-6 d-flex">
            <div id="content_commerce_site" class="align-self-center opacity">
              <h1 class="mt-2 mt-lg-0"><span class="text-info">E-commerce</span> Sites</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum optio doloribus distinctio nostrum earum eum illum in provident nam! Incidunt ex corrupti quos animi? Molestiae soluta doloribus non ipsam nesciunt quis iusto iste, itaque quisquam! Minima aperiam nisi alias?</p>
              <a href="/get_started" class="btn btn-primary text-light hvr-float shadow mt-2" role="button" aria-pressed="true">Get Started</a>
            </div>
          </div>
        </div>
      </div>

      {{!-- Web Apps --}}
      <div class="container mt-0 mt-lg-5">
        <div class="row">
          <div class="col-12 col-lg-6 d-flex order-2 order-lg-1">
            <div id="content_web_app" class="align-self-center opacity">
              <h1 class="mt-2 mt-lg-0"><span class="text-info">Wed</span> Applications</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum optio doloribus distinctio nostrum earum eum illum in provident nam! Incidunt ex corrupti quos animi? Molestiae soluta doloribus non ipsam nesciunt quis iusto iste, itaque quisquam! Minima aperiam nisi alias?</p>
              <a href="/get_started" class="btn btn-primary text-light hvr-float shadow mt-2" role="button" aria-pressed="true">Get Started</a>
            </div>
          </div>
          <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center justify-content-lg-end">
            <img id="img_web_app" class="float-right img-fluid mt-5 mt-lg-0 opacity" src="/public/assets/illastrations/web_app_illastration.svg" alt="">
          </div>
        </div>
      </div>
    </section>

    {{!-- The Process Section --}}
    <section id="theProsses">

      <svg id="waveDown" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2309 168"><defs><style>.cls-1{fill:#f8f9fa;}</style></defs><path id="Path_1329" data-name="Path 1329" class="cls-1" d="M2309,153.72S1933.69,34.41,1200.1,133.54,0,85.1,0,85.1V0H2309Z"/></svg>

      <div class="container">
        <div id="the_prosses_content" class="row d-flex justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="text-center">
              <h1 id="the_prosses_h1" class="display-4 text-light opacity">The Prosses</h1>
              <p id="the_prosses_p" class="text-light lead opacity">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis est minus aliquam! Saepe, nesciunt nam. consectetur nostrum, rem rerum. possimus natus.</p>
            </div>
          </div>
        </div>

        <div id="the_prosses_row" class="row d-flex justify-content-center mt-5">
          <div id="ux_ui_design" class="col-6 col-lg-3 text-center opacity">
            <img src="/public/assets/icons/ui_ux_design_icon.svg" alt="UI/UX Design Icon">
            <h4 class="text-light mt-3">UX/UI Design</h4>
            <p class="text-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, odit.</p>
          </div>
    
          <div id="development" class="col-6 col-lg-3 text-center opacity">
            <img src="/public/assets/icons/development_icon.svg" alt="Development Icon">
            <h4 class="text-light mt-3">Development</h4>
            <p class="text-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, odit.</p>
          </div>
    
          <div id="deployment" class="col-6 col-lg-3 text-center opacity">
            <img src="/public/assets/icons/deployment_icon.svg" alt="Deployment Icon">
            <h4 class="text-light mt-3">Deployment</h4>
            <p class="text-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, odit.</p>
          </div>
    
          <div id="maintenance" class="col-6 col-lg-3 text-center opacity">
            <img src="/public/assets/icons/maintenance_icon.svg" alt="Web Maintenance Icon">
            <h4 class="text-light mt-3">Maintenance</h4>
            <p class="text-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, odit.</p>
          </div>
        </div>
      </div>
      

      <svg id="waveUp" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2309 168"><defs><style>.cls-1{fill:#f8f9fa;}</style></defs><path id="Path_1328" data-name="Path 1328" class="cls-1" d="M0,14.28S375.31,133.59,1108.9,34.46,2309,82.9,2309,82.9V168H0Z"/></svg>

    </section>

    {{!-- Our Technologis Section --}}
    <section id="ourTechnologies">
      <div class="container mt-5 mt-lg-3">
        <div class="row d-flex justify-content-center">
          <div id="our_technologies_content" class="col col-lg-8 text-center content">
            <h1 id="our_technologies_h1" class="display-4 opacity">Our <span class="text-info">Technologies</span></h1>
            <p id="our_technologies_p" class="lead opacity">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quam. Animi magnam possimus natus modi in consectetur nostrum, rem rerum. possimus natus.</p>
          </div>
        </div>
        <div id="our_technologies_row" class="row text-center d-flex justify-content-center mt-5">
          <div id="front_end" class="col-6 col-lg-3 opacity">
            <h4 class="mb-4">Front-End</h4>
            <ul>
              <li><img class="img-fluid" src="/public/assets/icons/html_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/css_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/sass_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/javascript_icon.svg" alt=""></li>
            </ul>
          </div>
          <div id="back_end" class="col-6 col-lg-3 opacity">
            <h4 class="mb-4">Back-End</h4>
            <ul>
              <li><img class="img-fluid" src="/public/assets/icons/node_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/express_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/mongo_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/php_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/mysql_icon.svg" alt=""></li>
            </ul>
          </div>
          <div id="cms" class="col-6 col-lg-3 opacity">
            <h4 class="mb-4 mt-4 mt-lg-0">CMS</h4>
            <ul>
              <li><img class="img-fluid" src="/public/assets/icons/wordpress_icon.svg" alt=""></li>
            </ul>
          </div>
          <div id="servers_hosting" class="col-6 col-lg-3 opacity">
            <h4 class="mb-4 mt-4 mt-lg-0">Servers</h4>
            <ul>
              <li><img class="img-fluid" src="/public/assets/icons/d_o_icon.svg" alt=""></li>
              <li><img class="img-fluid" src="/public/assets/icons/netlify_icon.svg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    {{!-- Main Footer --}}
    <footer id="mainFooter" class="bg-dark">

      <svg id="waveDown" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2309 168"><defs><style>.cls-1{fill:#f8f9fa;}</style></defs><path id="Path_1329" data-name="Path 1329" class="cls-1" d="M2309,153.72S1933.69,34.41,1200.1,133.54,0,85.1,0,85.1V0H2309Z"/></svg>

      <div class="container mt-5">
        <div class="row mb-5 footer-border">
          <div class="col">
            <div class="float-left">
              <h4>Get Startet Today!</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, officiis. consectetur adipisicing elit. Quam, officiis.</p>
            </div>
            <a href="/get_started" class="btn btn-outline-light float-xl-right mt-2 mt-xl-3 mb-4 mb-xl-0 btn-sm" role="button" aria-pressed="true">Get Started Today<i class="ml-3 fas fa-angle-right"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4">
            <h4>Website</h4>
            <ul class="nav flex-column">
                <li class="nav-item link">
                  <a class="nav-link active" href="/"><i class="fas fa-home mr-3"></i>Home</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="/pricing"><i class="far fa-money-bill-alt mr-3"></i>Pricing</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="/get_started"><i class="fas fa-flag-checkered mr-3 pr-1"></i>Get Started</a>
                </li>
              </ul>
            </div>
          <div class="col-6 col-md-4">
            <h4>Connect</h4>
            <ul class="nav flex-column">
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-facebook mr-2"></i>Facebook</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-linkedin-in mr-2"></i>LinkedIn</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-pinterest-p mr-2"></i>Pintrist</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-dribbble mr-2"></i>Dribbble</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-twitter mr-2"></i>Twitter</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-youtube mr-2"></i>YouTube</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-instagram mr-2"></i>Instagram</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0">
              <h4>Contact</h4>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link"><i class="fas fa-map-marker-alt mr-2"></i>Orlando FL.</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"><i class="fas fa-phone mr-2"></i>352-888-8888</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"><i class="far fa-envelope mr-2"></i>sails@cybercode.dev</a>
                </li>
                <li class="nav-item">
                  <a href="/contact" class="btn btn-sm btn-outline-light mt-2 ml-3" role="button" aria-pressed="true">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-center mb-1 mt-5">
              <p class="small">&copy 2019 CyberCode, LLC. All rghts reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>


  
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/noframework.waypoints.min.js"></script>
  <script src="/public/js/animate.js"></script>
  <script src="/public/js/main.js"></script>


</body>
</html>