<!DOCTYPE html>
<html lang="en">
<head>
  {{!-- SEO --}}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136776179-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136776179-1');
  </script>

  <meta name="Description" content="Author: A.N. Author,
    Illustrator: P. Picture, Category: Books, Price: $17.99,
    Length: 784 pages">

  {{!-- Meta --}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- Title --}}
  <title>CyberCode | Pricing</title>
  {{!-- Links --}}
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/animate.min.css">
  <link rel="stylesheet" href="/public/css/slick.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/style.css">

  {{!-- Favicon Links --}}
  <link rel="apple-touch-icon" sizes="57x57" href="/public/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/public/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/public/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/public/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/public/asset/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/favicon/favicon-16x16.png">

</head>

<body id="pricing">

  {{!-- Man Nav --}}
  <nav class="navbar navbar-expand navbar-dark" id="mainNavBar">
    <div class="container">
      <a class="navbar-brand animated fadeInLeft" href="/"><img src="/public/assets/company_logo_light.svg" height="27px" alt=""></a>
      <div class="float-right">
        <ul class="navbar-nav mr-auto animated fadeInRight">
          <li class="nav-item mr-4 d-none d-sm-block">
            <a class="nav-link" href="/login"><i class="fas fa-user-alt mr-2"></i>Client Login</a>
          </li>
          <li class="nav-item slide-nave-toggle">
            <div id="slideNavToggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="slide-menu bg-dark animated slideInRight d-none" id="slideMenu">
    <ul class="nav mr-auto d-flex flex-column mt-5">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home mr-3"></i>Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/pricing"><i class="far fa-money-bill-alt mr-3"></i>Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get_started"><i class="fas fa-flag-checkered mr-3"></i>Get Started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="far fa-envelope mr-3 pr-1"></i>Contact</a>
      </li>
      <li class="nav-item mt-3 d-sm-none">
        <a class="nav-link" href="/login"><i class="fas fa-user-alt mr-2"></i>Client Login</a>
      </li>
    </ul>
  </div>

  <div id="contentWrap">
    {{!-- Show Case Section --}}
    <section id="showCase"> 
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-9 col-xl-7 col-12 py-3 text-center">
            <h1 class="text-light display-4 pb-2 animated fadeInDown">Our Pricing</h1>
            <p class="text-light lead animated fadeIn">
              We offer competitive pricing making our services ideal for start up‘s too small and medium size companies alike.
            </p>
            <a href="/get_started" class="btn btn-outline-light ml-4 mt-2 animated fadeInUp" role="button" aria-pressed="true">Git Started<i class="ml-3 fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      
      <svg id="waveUp" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2309 168"><defs><style>.cls-1{fill:#f8f9fa;}</style></defs><path id="Path_1328" data-name="Path 1328" class="cls-1" d="M0,14.28S375.31,133.59,1108.9,34.46,2309,82.9,2309,82.9V168H0Z"/></svg>
    </section>

    {{!-- Pricing Tables --}}
    <section id="pricingTables">
      <div class="container animated fadeIn">
        <div class="row">
          <div class="col-12">

            <div class="nav flex-column flex-md-row" id="pricing_tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="pricing_static_website_tab" data-toggle="pill" href="#pricing_static_website" role="tab" aria-controls="pricing_static_website" aria-selected="true">Static Websites</a>
              <a class="nav-link" id="pricing_dynamic_website_tab" data-toggle="pill" href="#pricing_dynamic_website" role="tab" aria-controls="pricing_dynamic_website" aria-selected="false">Dynamic Websites</a>
              <a class="nav-link" id="pricing_web_app_tab" data-toggle="pill" href="#pricing_web_app" role="tab" aria-controls="pricing_web_app" aria-selected="false">Web Applications</a>
              <a class="nav-link" id="pricing_other_services_tab" data-toggle="pill" href="#pricing_other_services" role="tab" aria-controls="pricing_other_services" aria-selected="false">Other Services</a>
            </div>

          </div>
        </div>
        {{!--  --}}
        <div class="row mt-5">
          <div class="col-12">

            <div class="tab-content" id="pricingTabContent">

              {{!-- Static Websites --}}
              <div class="tab-pane fade show active" id="pricing_static_website" role="tabpanel" aria-labelledby="pricing_static_website_tab">

                <h2><span class="text-info">Static </span>Websites</h2>
                <p>
                  Static websites are ideal for businesses that are looking for brochures style websites for marketing and client communication purposes. 
                </p>

                {{!-- Website Template --}}
                <div class="card-deck slick-static-websites mt-5">
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!--  --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$1,000.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!-- --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Custom Website</h3>
                      <h2 class="text-light font-weight-bold mt-4">$2,500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!-- --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Custom Website</h3>
                      <h2 class="text-light font-weight-bold mt-4">$3,000.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                </div>
              </div>


              

              {{!-- Dynamic Websites --}}
              <div class="tab-pane fade" id="pricing_dynamic_website" role="tabpanel" aria-labelledby="pricing_dynamic_website_tab">

                <h2><span class="text-info">Dynamic </span>Websites</h2>
                <p>
                  Dynamic websites provide a content management system or CMS for short allowing a simple way to update and manage content on the website. 
                </p>

                {{!-- Website Template --}}
                <div class="card-deck slick-dynamic-websites mt-5">
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!--  --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!--  --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!--  --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                </div>
              </div>



              {{!-- Web Apps --}}
              <div class="tab-pane fade" id="pricing_web_app" role="tabpanel" aria-labelledby="pricing_web_app_tab">
                <div class="text-center">
                  <h2><span class="text-info">Web </span>Applications</h2>
                  <p class="mx-lg-5 px-lg-5">
                    Do to the complexity of building an application and every client’s specific needs, we are unable to set a fixed price for this service. If you have a project in mind, please fill out a project brief and we will send an estimate with 48 hours.
                  </p>
                  <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                </div>
              </div>

              {{!-- Other Services --}}
              <div class="tab-pane fade" id="pricing_other_services" role="tabpanel" aria-labelledby="pricing_other_services_tab">

                <h2><span class="text-info">Other </span>Services</h2>
                <p>
                  We offer a variety of other related services such as hosting, website Maintenance and training.
                </p>

                {{!-- Website Template --}}
                <div class="card-deck slick-other-services mt-5">
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!--  --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!--  --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                  {{!--  --}}
                  <div class="card shadow my-3 hvr-float">
                    <div class="card-header text-center">
                      <h3 class="text-light font-weight-bold mt-3">Website Template</h3>
                      <h2 class="text-light font-weight-bold mt-4">$500.<span class="h5">00</span></h2>
                    </div>
                    <div class="card-body text-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Single Page</h5></li>
                        <li class="list-group-item"><h5>Template Design</h5></li>
                        <li class="list-group-item"><h5>Contact Form</h5></li>
                        <li class="list-group-item"><h5>Peployment</h5></li>
                        <li class="list-group-item"><h5>Free Hosting</h5></li>
                      </ul>
                      <a href="/get_started" class="btn btn-info text-light mt-2 mt-4" role="button" aria-pressed="true">Git Started</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    {{!-- Main Footer --}}
    <footer id="mainFooter" class="bg-dark">

      <svg id="waveDown" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2309 168"><defs><style>.cls-1{fill:#f8f9fa;}</style></defs><path id="Path_1329" data-name="Path 1329" class="cls-1" d="M2309,153.72S1933.69,34.41,1200.1,133.54,0,85.1,0,85.1V0H2309Z"/></svg>

      <div class="container mt-5">
        <div class="row pt-3">
          <div class="col-6 col-md-4">
            <h4>Website</h4>
            <ul class="nav flex-column">
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="/"><i class="fas fa-home mr-3"></i>Home</a>
                </li>
                <li class="nav-item link ">
                  <a class="nav-link active" href="/pricing"><i class="far fa-money-bill-alt mr-3"></i>Pricing</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="/get_started"><i class="fas fa-flag-checkered mr-3 pr-1"></i>Get Started</a>
                </li>
              </ul>
            </div>
          <div class="col-6 col-md-4">
            <h4>Connect</h4>
            <ul class="nav flex-column">
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-facebook mr-2"></i>Facebook</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-linkedin-in mr-2"></i>LinkedIn</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-pinterest-p mr-2"></i>Pintrist</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-dribbble mr-2"></i>Dribbble</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-twitter mr-2"></i>Twitter</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-youtube mr-2"></i>YouTube</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link hvr-underline-from-left" href="#"><i class="fab fa-instagram mr-2"></i>Instagram</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0">
              <h4>Contact</h4>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link"><i class="fas fa-map-marker-alt mr-2"></i>Orlando FL.</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"><i class="fas fa-phone mr-2"></i>352-888-8888</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"><i class="far fa-envelope mr-2"></i>sails@cybercode.dev</a>
                </li>
                <li class="nav-item">
                  <a href="/contact" class="btn btn-sm btn-outline-light mt-2 ml-3" role="button" aria-pressed="true">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-center mb-1 mt-5">
              <p class="small">&copy 2019 CyberCode, LLC. All rghts reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/slick.min.js"></script>
  <script src="/public/js/slick_slide.js"></script>
  <script src="/public/js/main.js"></script>

</body>
</html>